@media (max-width: 1199.98px) {
  .inquiryRight__title {
    line-height: 40px;
    padding-top: 15px;
  }

  .startupsRigh--input {
    margin-left: -22px;
  }

  .startupsRigh__inputBtn {
    margin-left: 29px;
  }

  .inquiryLeft__overlayTitle {
    font-size: 37px;
    line-height: 46px;
  }

}
